@charset "utf-8";
/* CSS Document */

*{margin:0px;padding:0px;}
body{font-family:"Microsoft YaHei"; color:#000; margin:0px; padding:0px; overflow-x:hidden; font-size:14px; }
a{text-decoration:none;color:#222;}
a:hover{ text-decoration:none;}
input[type = "radio"],input[type="checkbox"]{position:relative;top:3px;margin-right:2px;}
img { border: 0; }
em {font-style: normal;}
i {font-style: normal;}
li{ list-style:none; font-family:"Microsoft YaHei"; }
ul{ margin:0px; padding:0px;}
h1, h2, h3, h4 {padding: 0;margin: 0; font-weight:100;}
p{ margin: 0;}
input{outline: none;}
.left{ float: left!important;;}
.right{ float: right !important;}
.hidden{display:none;}

.clear{clear:both;}
.width{ width:1180px; margin:0px auto; zoom:0;  }
.bgf{background-color:#fff; }
.mart15{ margin-top:15px;}
.paddt15{ padding-top:15px;}

/* 头部 */
.header{ width:100%; margin:0px auto; height:120px;background: url("../images/dh\_bg.jpg") top center no-repeat; }
.logo{ width:378px;  float:left; margin-top:30px;margin-left: 25px;}
.h_by{width:275px;  float:left; margin-top:58px; margin-left:260px;}
.h_r{float:right; width: 190px;   }
.h_r_lj{ color: #fff; font-size: 14px; line-height: 36px; text-align: right; margin-right: 15px;}
.h_r_lj a{color: #fff; padding: 0px 8px;}
.ss{}



.search-panel { float: right; clear: right; width: 14%; margin-right: 15px; margin-bottom: 12px; margin-top: 26px;position:relative;}
.searchbtn{width:38px;height: 28px; border:0; outline: 0; background:url(../images/sous.png) no-repeat center; position:absolute;right:0px; top:0px;z-index:120; cursor:pointer;}

.search-window {padding-left:352px;background: url(../images/by.png) no-repeat 1px 1px;width:45px;border:0px solid red;background-color:transparent;overflow: hidden;position:absolute;right:0px;top:0px;z-index:1;}/*#72596C*/
.wp-search {  position: relative;}
.wp-search form { display: block;}
.wp-search .search-input { margin-left:10px; margin-right: 40px; }
.wp-search .search-input input.search-title { width: 100%; height: 18px; line-height: 18px; border:0; outline: 0; background:#fff; color: #c8c2af; font-size: 14px; padding: 5px 0;}
.wp-search .search-btn { width: 40px; height: 28px; position: absolute; right: 0; top:50%; margin-top: -14px;}
.wp-search .search-btn input.search-submit { width: 100%; height: 28px; border:0; outline: 0; background:url(../images/sous.png) no-repeat center; cursor: pointer;}



/* menu */
.L_center_img img{

		 max-height:100%;

		 max-width: 100%; 

		 vertical-align:middle;

	 }
	 
.menubox{ width:100%; height:44px; line-height:44px; background:#004a99; }
.nav{
    width: 100%;height: 44px;
}
.nav li{
    float: left;
    position: relative
}
.nav .line{}
.nav li>a{
    display: block;
    font-size: 16px;
    color: #fff;
    width: 98px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
.nav li.on>a,.nav li:hover>a{color: #fff;

}
.nav li.on,.nav li:hover{
    background: #025fc2; color: #fff;
}

.two-nav{
    position: absolute;
    left: 0px;
    width: 98px;
    margin-top:-1px;
    z-index: 9999;
    display: none
}
.two-nav a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: solid 1px #8da9cd;
    color: #ffffff;
    font-size: 14px;
    background: url(../images/navtm1.png);
}
.two-nav a:hover{
    background: #3585da
}


/* banner */
.bannerbox{ width:100%; height:400px; margin:0 auto;padding-top:20px; }

.banner_1{width:1180px; margin:0 auto; height:400px; text-align:center;font-size:0; overflow:hidden;}
*{padding:0; margin:0;}

.focus{margin: 0px auto; width: 100%; height: 400px; overflow: hidden; float: left; position: relative; background-color: rgb(0, 0, 0);}
.banner img{width: 100%;}
.focus .shadow .title{width: 100%; height: 65px; padding-top: 20px; padding-left: 30px;}
.focus .shadow .title a{color: rgb(255, 255, 255); overflow: hidden; font-size: 14px; font-weight: bolder; text-decoration: none;}
.focus .btn{left: 510px; bottom: 34px; overflow: hidden; position: absolute; -ms-zoom: 1;}
.focus .btn a{background: rgb(217, 217, 217); font: 12px/15px "宋体"; margin: 0px 5px; outline: 0px; border-radius: 7px; width: 13px; height: 13px; text-align: center; color: rgb(176, 176, 176); text-decoration: none; float: left; display: inline; position: relative; font-size-adjust: none; font-stretch: normal;}
.focus .btn a:hover{background: rgb(252, 17, 74); cursor: pointer;}
.focus .btn a.current{background: rgb(252, 17, 74); cursor: pointer;}
.focus .fPic{left: 0px; top: 0px; width: 100%; position: absolute;}
.focus .D1fBt{height: 16px; overflow: hidden; z-index: 10; -ms-zoom: 1;}
.focus .shadow{ width:97%; height: 44px; text-align: left; left: 3%; bottom: 25px; display: block; position: absolute; z-index: 10;}

.focus .shadow a{ padding:0px 10px;background:url(../images/banner-bg.png) repeat;left:0%;  height: 44px; color: rgb(255, 255, 255); line-height: 44px; overflow: hidden; font-family: "微软雅黑"; font-size: 15px; text-decoration: none; display: inline-block; position: absolute;}
.focus .fcon{background: rgb(0, 0, 0); width: 100%; height: 400px; float: left; display: none; position: relative;}
.focus .fcon img{display: block;}
.focus .fbg{width:auto; height: 20px; text-align: center; right: 0px; bottom: 10px; position: absolute; z-index: 200;}
.focus .fbg div{margin: 4px auto 0px; height: 12px; overflow: hidden; -ms-zoom: 1;}
.focus .D1fBt a{background:#fff; margin: 0px 5px; width: 12px; height: 12px; border-radius:7px; color: rgb(176, 176, 176); float: left; display: inline; position: relative; _background: none;}
.focus .D1fBt .current{background:#004a99;}
.focus .D1fBt a:hover{background:#004a99;}
.focus .D1fBt img{display: none;}
.focus .D1fBt i{font-style: normal; display: none;}
.focus .prev{background: url("../images/focus_btn_z.png") no-repeat; width: 40px; height: 40px; position: absolute; _background: none;}
.focus .next{background: url("../images/focus_btn_y.png") no-repeat; width: 40px; height: 40px; position: absolute; _background: none;}
.focus .prev{top: 50%; left: 0%; margin-top: -37px; cursor: pointer;}
.focus .next{top: 50%; right:0%; margin-top: -37px; cursor: pointer;}


/* body */

.main_l{ margin-top: 15px; width: 890px;float: left;margin-bottom: 10px;}

.xyxw{ width: 435px; float: left; margin-bottom: 5px;}
.title_a{ height: 37px; line-height: 37px; border-bottom: 1px solid #d4d4d4;}
.title_a span{ font-size: 18px; color: #004a99; border-bottom: 2px solid #004a99; display: inline-block; padding:0px 5px; font-weight: 600;}
.title_a a{ float: right; font-size: 13px; color: #777777;}

.xyxw_list{ padding-top: 10px; height: 216px;}
.xyxw_list ul li{ font-size:14px; text-align: left; height:36px; line-height:36px; color:#444444;background: url("../images/list1.png") left center no-repeat;padding-left: 13px; }
.xyxw_list ul li a{ color: #444444;}
.xyxw_list ul li a:hover{ color:#004a99;}
.xyxw_list ul li span{float:right; font-size: 13px;  color: #888888; }

.tzgg{ margin-left: 20px;}

.main_r{ margin-top: 10px;width: 260px; float: right; margin-bottom: 10px;}


.ztwz{ width: 260px;}
.ztwz_nr{ padding-top: 10px;}
.ztwz_nr a{ width: 260px; height: 47px; display: block; padding-top: 5px; margin: 0px auto;}
.ztwz_nr a img{ width: 260px; height: 47px;}


.kstd{ padding: 10px; background: #f2f9ff; border: 1px solid #b8cde3;width: 238px; margin-top: 25px; }
.kstd_nr a{ color: #306dad; display: block; float: left; width: 114px; text-align: center;font-size:13px; line-height:35px; margin-top: 5px; }
.kstd_nr img{ width: 48px; height: 48px;}
.kstd_nr a:hover { color: #004a99; }

.f_lj{ height: 46px; line-height: 46px; background: #004a99;}
.gxwz{ width: 750px; float: left; color: #fff; font-size: 14px;}
.gxwz a{ color: #fff; padding: 0px 12px;}
.gxwz a:hover{color: #cbd4e4;}

.wbwx{ width:80px; float: right; padding-top: 8px; position: relative;}

.weibo{ width:29px; height:29px; float: left;  }
.weibo a{width:29px;height:29px;display:block;background:url(../images/weixin.png) no-repeat center top;}
.weibo .weibo_nr{width:85px; height:85px; padding:2px 2px 4px 2px; background:#fff; text-align:center; position:absolute; left:-30px; top:-85px; display:none;}
.weibo .weibo_nr img{ margin-bottom:5px;}
.weibo.on .weibo_nr{ display:block;}
.weibo.on a{ background:url(../images/weixin.png) no-repeat center top;}

.weixin{ width:29px; height:29px; z-index:9999999; margin-left: 10px;float: left; }
.weixin a{width:29px; height:29px; display:block; background:url(../images/weibo.png) no-repeat center top; }
.weixin .weixin_nr{width:85px; height:85px; padding:2px 2px 4px 2px; background:#fff; text-align:center; position:absolute; left:10px; top:-85px; display:none;}
.weixin .weixin_nr img{ margin-bottom:5px;}
.weixin.on .weixin_nr{ display:block;}
.weixin.on a{ background:url(../images/weibo.png) no-repeat center top;}
/* foot */
.footer{background: #f2f9ff;  height: 105px;}
.footer_a{ width: 880px; float: left;}
.f_wz{ font-size: 14px; line-height: 26px; color: #004a99; padding-top: 5px; }

.yqlj_nr{ color: #004a99; font-size: 14px; line-height: 40px; background: url("../images/f_bg1.png") bottom left no-repeat;}
.yqlj_nr a{color: #004a99; padding: 0px 8px;}

.ewm{width:220px;  float: right; margin-top: 10px;text-align: center;font-size:14px; line-height:30px;color: #fff; margin-left: 40px;}
.ewm img{ width:80px; height: 80px; margin-left: 20px;}
.f_sydw{width:49px; float: right; margin-top: 22px;}

/* list */

.mainer{background: #f2f9ff;}
.ny_bm{ background: #fff; padding: 15px; border-top: 11px solid #ebebeb; width: 1180px; margin: 0 auto;}
.ny_banner{width: 1180px; margin: 0 auto;height:240px; padding-top:10px;}
.ny_banner img{width: 1180px;height:240px;}
.lm_lban{width:210px;height:auto; }
.lm_top{height:43px;line-height:43px;background:#004a99; font-size:18px; text-align:center;color:#fff;overflow:hidden; margin-bottom: 10px;}
.navdh{width:100%;height:auto;min-height:230px; padding-top:1px;}
.navdh ul li{width:100%;height:36px; line-height:36px; border-bottom:1px solid #dedddd; text-align:center;background:url(../images/list-bg.png) no-repeat 0 -58px;}
.navdh ul li a{ color:#333333; display:block;height:36px;line-height:36px;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.navdh ul li a:hover,.navdh ul li a.active{color:#fff;background: #ef6d19 url(../images/list-bg.png) no-repeat 0 0; color:#fff;}

.ny_right{width:920px; float: right;}
.lm_rban{width:100%;height:auto; }
.lmy_lmtitle{height:36px;line-height:36px;overflow:hidden; border-bottom:1px solid #ccc; }
.lmy_lmtitle span{float:left;display:block;width:auto;height:36px;line-height:36px;font-size:16px; font-weight:600; color:#004a99;padding:0 14px 0 10px;white-space:nowrap;}

.wz_top{ float:right; text-align:right; font-size:13px; color:#666; padding-right: 10px;}
.wz_top a{color:#666;}
.wz_top a:hover{color:#f00;}

.navjz{ min-height:560px; padding-bottom:40px;}
.wz_list{  margin:10px 15px;}
.wz_list li{ font-size:14px; height:42px; line-height:42px; color:#525252; background: url(../images/list1.png) left center no-repeat; padding-left:10px; border-bottom: 1px dashed #d7d7d7;}
.wz_list li a{ color: #222;}
.wz_list li a i{ padding-left: 10px;}
.wz_list li a:hover{ color: #0374ca;}
.wz_list li span{  font-size: 13px; color: #666; float: right;}
.pagenav{ text-align:center;  margin-top:20px;}

.tp_lb{ padding-left: 5px; padding-top: 10px;}
.tp_lb ul li{ width: 205px; float: left;  text-align: center; margin: 10px 10px 0px 12px;}
.pcimg{  width: 199px;  padding:2px; border:1px solid #d3d3d3; background-color:#ffffff;}
.pcimg img{ width:199px; height:137px; }
.pctit{ line-height:28px; font-size:14px; display: block;text-align: center;}

/*info样式*/
.infob{ padding: 0px 10px;}
.infob .tit{ text-align:center; font-size:18px; line-height:25px; margin-top:20px; margin-bottom:5px;}
.infob .titx{ text-align:center; height:37px; width:100%;  line-height:37px; font-size:13px; color:#666666;}
.infob .nr{font-size:16px; color:#222222; line-height:34px; text-align:justify; margin:5px 12px;  text-indent:2em; border-bottom:1px dashed #b4b4b4; padding-bottom:35px;}
.infob .nr p{text-align:justify;}
.infob .sxt{ line-height:34px; margin-left:12px;}
.infob .dsg{ text-align:right; margin:12px;}

.ny_gljg{ margin:10px 0px 20px 0px;}
.ny_gljg h1{ height: 34px; line-height: 34px; color: #004a99; text-align: center; font-size: 18px;width: 894px; margin: 0 auto; margin-bottom: 10px; }
.ny_gljg_nr{ border-top: 1px solid #dddddd; border-left: 1px solid #dddddd; width: 894px;margin: 0 auto;margin-bottom: 10px;}
.ny_gljg_a{  }
.ny_gljg_a ul li{ background: #ededed; text-align: center; font-size: 16px; color: #22122c; width: 297px; float: left; border-bottom: 1px solid #dddddd; border-right: 1px solid #dddddd; height: 50px; line-height: 50px;}
.ny_gljg_a ul li p{}
.ny_gljg_a ul li a{color: #22122c;}
.ny_gljg_a ul li a:hover{ color: #c7181d;}
.ny_gljg_b ul li{ background: #fff;}


.ny_xrld{ margin:40px 0px 30px 0px; min-height: 300px;}
.ny_xrld_nr{ border-top: 1px solid #EBEBEB; border-left: 1px solid #EBEBEB; width: 770px; margin: 0 auto; }
.ny_xrld_lb{background: #fff;font-size: 16px; color: #22122c; height: 50px; line-height: 50px;border-bottom: 1px solid #EBEBEB; }
.ny_xrld_lb li{ text-align: left;  width: 410px; float: left; border-right: 1px solid #EBEBEB;padding-left:50px; }
.ny_xrld_lb li.ny_xrld_mc{ width: 257px;}
.ny_xrld_lb li a{color: #004a99;}
.ny_xrld_lb li a:hover{ color: #004a99;}
.ny_xrld_lbbg{ background: #F7F7F7;}


.article{ padding-top: 20px;}
.hhh{font-size:18px;color:#22132d;border-bottom:2px solid #BBBBBB;padding-bottom:1em;margin-bottom:1em;padding-top:0.5em;}
.article table{width:96%;text-align:left; margin: 0 auto;border-right:1px solid #EBEBEB;  }
.article table th{text-align:left;}
.article table td{padding:0.6em 0 0.6em 1.0em;border-left:1px solid #EBEBEB;vertical-align:top;line-height: 30px;}
.article table.zuZhiJieGou td{padding-top:0.4em;padding-bottom:0.4em;}
.article table.zuZhiJieGou td span{font-size:12px;}
.article table.zuZhiJieGou td.tdline{border:0;}
.tdline a{ line-height: 30px; color: #192e77;}
.article table.xianRen td{padding:8px 0 8px 7px;border-left:0;border-bottom:1px solid #EBEBEB;}
.article table.xianRen td b{padding-right:27px;font-weight:normal;}
.article table td i.thuicon-stop, .article .daJiShilist i.thuicon-stop, .article .fsize i.thuicon-stop{font-size:4px;vertical-align:middle;margin-right:5px;color:#5C307D;}

.article table td.tdborder {  border-bottom:1px solid #EBEBEB;  border-top:1px solid #EBEBEB;  }
.article table td.tdborder_t {  border-top:1px solid #EBEBEB;  }
.article table td.tdborder_b {  border-bottom:1px solid #EBEBEB;  }

._plugLayer{background:none repeat scroll 0 0 #FFFFFF;display:none;left:50%;top:50%;border:1px solid #0e4ca1;_position:absolute;position:fixed;z-index:9999;}
.ulayer{width:760px;height:460px;}
.ulayer .close{display:block;position:absolute;right:15px;top:12px;font-size:20px;cursor:pointer;}
.ulayer .layerbox{padding:48px;}
.ulayer .uname{color:#22132D;font-size:24px;padding-top:0.1em;padding-bottom:0.70em;margin-bottom:0.5em;font-weight:normal;border-bottom:1px solid #ddd;}
.ulayer .uname .r{color:#777;font-family:sans-serif;font-size:12px;margin-left:15px;}
.ulayer .imgwrap{display:inline;float:right;}
.ulayer .imgwrap img{border:1px solid #CCCCCC;padding:4px;}
.ulayer .sidebar{background:none repeat scroll 0 0 #E0E0E0;display:inline;float:left;height:445px;margin-left:40px;margin-top:25px;position:relative;width:6px;}
.ulayer .sidebar a.bar{background:none repeat scroll 0 0 #009400;display:block;height:100px;left:0;position:absolute;top:0;width:6px;}
.ulayer .leftarea{margin-right:140px;height:100%;}
.ulayer .innerarea{height:100%;overflow:auto;}
.ulayer .innerarea p{font-size:14px;line-height:23px;padding:0.75em 0;}